################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Tests/Excella.TwitterClient.Core.Tests/bin/Debug
/src/Tests/Excella.TwitterClient.Core.Tests/obj
/src/webjob/Excella.TwitterClient.Business/bin/Debug/netstandard2.0
/src/webjob/.vs/Excella.TwitterWebJob
/src/webjob/Excella.TwitterClient.Business/obj
/src/webjob/packages
/src/webjob/Excella.TwitterWebJob/bin/Debug
/src/webjob/Excella.TwitterWebJob/obj/Debug
/src/webjob/Excella.TwitterClient.Core/bin/Debug/netstandard2.0
/src/webjob/Excella.TwitterClient.Core/obj
/src/webjob/.vs/config/applicationhost.config
/src/azure-functions/.vs
/src/azure-functions/bin
/src/azure-functions/obj
/src/webjob/Excella.TwitterClient.Business/bin/Release/netstandard2.0
/src/webjob/Excella.TwitterClient.Core/bin/Release/netstandard2.0
/src/webjob/Excella.TwitterWebJob/bin/Release
/src/webjob/Excella.TwitterWebJob/obj/Release
/src/webjob/Excella.TwitterWebJob/Properties/PublishProfiles
/src/webjob/Excella.TwitterWebJob/Excella.TwitterWebJob.csproj.user
/src/azure-functions/.vs/Excella.Twitter.AzureFunction/DesignTimeBuild
/.vs
/src/webjob/Tests/Excella.TwitterClient.Business.Tests/bin
/src/webjob/Tests/Excella.TwitterClient.Business.Tests/obj
src/iot-simulation/IoTSimulation/IoTSimulation/.vs/IoTSimulation/v15/.suo
src/iot-simulation/IoTSimulation/IoTSimulation/.vs/config/applicationhost.config
src/iot-simulation/IoTSimulation/IoTSimulation/.vs/IoTSimulation/v15/Server/sqlite3/db.lock
src/iot-simulation/IoTSimulation/IoTSimulation/.vs/IoTSimulation/v15/Server/sqlite3/storage.ide
src/iot-simulation/IoTSimulation/IoTSimulation/.vs/IoTSimulation/v15/Server/sqlite3/storage.ide-shm
src/iot-simulation/IoTSimulation/IoTSimulation/.vs/IoTSimulation/v15/Server/sqlite3/storage.ide-wal
src/iot-simulation/IoTSimulation/IoTSimulation/IoTSimulation/bin/Debug/netcoreapp2.1/appsettings.json
src/iot-simulation/IoTSimulation/IoTSimulation/IoTSimulation/bin/Debug/netcoreapp2.1/IoTSimulation.dll
src/iot-simulation/IoTSimulation/IoTSimulation/IoTSimulation/bin/Debug/netcoreapp2.1/IoTSimulation.pdb
src/iot-simulation/IoTSimulation/IoTSimulation/IoTSimulation/bin/Debug/netcoreapp2.1/IoTSimulation.runtimeconfig.dev.json
src/iot-simulation/IoTSimulation/IoTSimulation/IoTSimulation/bin/Debug/netcoreapp2.1/IoTSimulation.runtimeconfig.json
src/iot-simulation/IoTSimulation/IoTSimulation/IoTSimulation/obj/Debug/netcoreapp2.1/IoTSimulation.AssemblyInfo.cs
src/iot-simulation/IoTSimulation/IoTSimulation/IoTSimulation/obj/Debug/netcoreapp2.1/IoTSimulation.AssemblyInfoInputs.cache
src/iot-simulation/IoTSimulation/IoTSimulation/IoTSimulation/obj/Debug/netcoreapp2.1/IoTSimulation.assets.cache
src/iot-simulation/IoTSimulation/IoTSimulation/IoTSimulation/obj/Debug/netcoreapp2.1/IoTSimulation.csproj.CoreCompileInputs.cache
src/iot-simulation/IoTSimulation/IoTSimulation/IoTSimulation/obj/Debug/netcoreapp2.1/IoTSimulation.csproj.FileListAbsolute.txt
src/iot-simulation/IoTSimulation/IoTSimulation/IoTSimulation/obj/Debug/netcoreapp2.1/IoTSimulation.csprojAssemblyReference.cache
src/iot-simulation/IoTSimulation/IoTSimulation/IoTSimulation/obj/Debug/netcoreapp2.1/IoTSimulation.dll
src/iot-simulation/IoTSimulation/IoTSimulation/IoTSimulation/obj/Debug/netcoreapp2.1/IoTSimulation.pdb
src/iot-simulation/IoTSimulation/IoTSimulation/IoTSimulation/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/iot-simulation/IoTSimulation/IoTSimulation/IoTSimulation/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/iot-simulation/IoTSimulation/IoTSimulation/IoTSimulation/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/iot-simulation/IoTSimulation/IoTSimulation/IoTSimulation/obj/IoTSimulation.csproj.nuget.cache
src/iot-simulation/IoTSimulation/IoTSimulation/IoTSimulation/obj/IoTSimulation.csproj.nuget.g.props
src/iot-simulation/IoTSimulation/IoTSimulation/IoTSimulation/obj/IoTSimulation.csproj.nuget.g.targets
src/iot-simulation/IoTSimulation/IoTSimulation/IoTSimulation/obj/project.assets.json
src/iot-simulation/IoTSimulation/IoTSimulation/IoTSimulation/bin/Debug/netcoreapp2.1/IoTSimulation.deps.json
