################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Tests/Excella.TwitterClient.Core.Tests/bin/Debug
/src/Tests/Excella.TwitterClient.Core.Tests/obj
/src/webjob/Excella.TwitterClient.Business/bin/Debug/netstandard2.0
/src/webjob/.vs/Excella.TwitterWebJob
/src/webjob/Excella.TwitterClient.Business/obj
/src/webjob/packages
/src/webjob/Excella.TwitterWebJob/bin/Debug
/src/webjob/Excella.TwitterWebJob/obj/Debug
/src/webjob/Excella.TwitterClient.Core/bin/Debug/netstandard2.0
/src/webjob/Excella.TwitterClient.Core/obj
/src/webjob/.vs/config/applicationhost.config
/src/azure-functions/.vs
/src/azure-functions/bin
/src/azure-functions/obj
/src/webjob/Excella.TwitterClient.Business/bin/Release/netstandard2.0
/src/webjob/Excella.TwitterClient.Core/bin/Release/netstandard2.0
/src/webjob/Excella.TwitterWebJob/bin/Release
/src/webjob/Excella.TwitterWebJob/obj/Release
/src/webjob/Excella.TwitterWebJob/Properties/PublishProfiles
/src/webjob/Excella.TwitterWebJob/Excella.TwitterWebJob.csproj.user
/src/azure-functions/.vs/Excella.Twitter.AzureFunction/DesignTimeBuild
/.vs
/src/webjob/Tests/Excella.TwitterClient.Business.Tests/bin
/src/webjob/Tests/Excella.TwitterClient.Business.Tests/obj